<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Anotação</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <h2 class="text-center">Anotação</h2>
        <a th:href="@{/home}" class="btn btn-info">Voltar</a>
        <form th:action="@{/cadastro_anotacao}" th:object="${anotacao}" method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="titulo" class=" col-4 col-form-label">Titulo: </label>
                        <input type="text" id="titulo" name="titulo" th:field="${anotacao.titulo}"
                               class="form-control" disabled required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label for="nota" class=" col-4 col-form-label">Descrição: </label>
                        <textarea class="form-control" th:field="${anotacao.nota}" type="text"
                                  id="nota" name="nota" autofocus="autofocus" disabled required>
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>